<header class="bar bar-nav">
    <h1 class="title">Einstellungen</h1>
</header>
<div class="content">

    <ul class="table-view">
        <li class="table-view-cell media">
            {{#link-to 'settings.info' class="navigate-right"}}
            Info
            {{/link-to}}
        </li>
        <li class="table-view-cell media">
            {{#link-to 'settings.profile' class="navigate-right"}}
            Profile
            {{/link-to}}
        </li>
        <li class="table-view-divider">&nbsp;</li>
        <li class="table-view-cell">
            Item 2
            <div class="toggle active">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right">
                <span class="media-object pull-left icon icon-pages"></span>
                <div class="media-body">
                    Item 3
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right">
                <span class="media-object pull-left icon icon-trash"></span>
                <div class="media-body">
                    Item 1
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right">
                <span class="media-object pull-left icon icon-gear"></span>
                <div class="media-body">
                    Item 2
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right">
                <span class="media-object pull-left icon icon-pages"></span>
                <div class="media-body">
                    Item 3
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right">
                <span class="media-object pull-left icon icon-trash"></span>
                <div class="media-body">
                    Item 1
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right">
                <span class="media-object pull-left icon icon-gear"></span>
                <div class="media-body">
                    Item 2
                </div>
            </a>
        </li>
        <li class="table-view-cell media">
            <a class="navigate-right">
                <span class="media-object pull-left icon icon-pages"></span>
                <div class="media-body">
                    Item 3
                </div>
            </a>
        </li>
    </ul>
</div>

{{nav-bar}}


