<header class="bar bar-nav">
    {{#link-to 'settings.index' tagName="button" class="btn btn-link btn-nav pull-left"}}
    <span class="icon icon-left-nav"></span>
    Einst.
    {{/link-to}}
    <h1 class="title">Profile</h1>
</header>

<div class="content">
    <div class="content-padded">
        <h2>Profil Informationen</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco.</p>
    </div>
</div>
